<h1>Programmer's Calculator</h1>
<div class="card text-center" 
   style="background-color:#e2f8f2;border:1px solid #62dab6;border-radius:3px;padding: 4px;margin: 8px 2px 2px 8px;">
    
    <h4 class="card-header card-title">
        Number System Conversion
    </h4>
  
    <div class="card-body">
        <table class="table">
           <tr>
            <th scope="row">from</th>
            <td><input type="radio" id="binary" name="option1" autocomplete="off"(change)="onChange1($event)"> Binary</td>
            <td><input type="radio" id="octal" name="option1" autocomplete="off"(change)="onChange1($event)"> Octal</td>
            <td><input type="radio" id="decimal" name="option1" autocomplete="off" (change)="onChange1($event)"> Decimal</td>
            <td><input type="radio" id="hex" name="option1" autocomplete="off" (change)="onChange1($event)"> Hex</td>
           </tr>
           <tr>
            <th scope="row">to</th>
            <td><input type="radio" id="binary" name="option2" autocomplete="off" (change)="onChange2($event)"> Binary</td>
            <td><input type="radio" id="octal" name="option2" autocomplete="off" (change)="onChange2($event)"> Octal</td>
            <td><input type="radio" id="decimal"  name="option2" autocomplete="off" (change)="onChange2($event)"> Decimal</td>
            <td><input type="radio" id="hex" name="option2" autocomplete="off" (change)="onChange2($event)"> Hex</td>
           </tr>
        </table>
            <input type="text" class="form-control" aria-label="Default" #inputValue aria-describedby="inputGroup-sizing-default">
            <br><a class="btn btn-primary" (click)="Convert(inputValue.value)">Convert</a>
    </div>
    
    <h5 class="card-title">Result: 
        <small class="card-text" style="font-size: 30px">{{ans}}</small>
    </h5>
    
    
</div>